[submodule "doc/theme/doxygen-awesome-css"]
	path = doc/theme/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/shader-link"]
	path = external/shader-link
	url = https://github.com/seweex/shader-link.git
